body {
 
  background-color: rgb(44, 46, 46);
  margin-left: 80px; 
  color: rgb(243, 252, 252);
}

section {
  margin: 7px;
  border-radius: 10px;
  background-color: rgb(56, 62, 62);
  width: 90%;
  height: 400px;
  text-align: center;
}

h3{
  border: 1px solid rgb(152, 149, 149);
  margin-top: 0px;
  border-radius: 4px;
  background-color: rgb(111, 120, 122);
  
}

p{
  text-align: justify;
  padding : 5px;

}

section a {
  text-decoration: none;
  color: rgb(248, 251, 251);
}


footer h4{
  color : white;
}