
section {
  border : 1px solid rgb(65, 37, 37);
  width:300px;
  height: 300 px;
  text-align: center;
  margin: 10px;
  border-radius: 2px;
  background-color: rgb(235, 222, 222)
 
}

h3{
  border: 1.5px solid gray;
  margin-top: 0px;
  border-radius: 3px;
  background-color: rgb(213, 210, 227);
}

p{
  text-align: justify;
  padding : 5px;

}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(44, 46, 46);
  margin-left: 80px;
  
}


